
<h2>Cadastro</h2>

<form>
    <input type="text" placeholder="Nome"           name="nome"                  [(ngModel)]="user.nome"       class="form-control">
    <input type="text" placeholder="email"          name="email"                 [(ngModel)]="user.email"      class="form-control">
    <input type="text" placeholder="seguroSocial"   name="numeroSeguroSocial"    [(ngModel)]="user.numSeguroSocial"       class="form-control">

    <input type="button" value="Cadastrar"  *ngIf="btnCadastro"  class="btn btn-primary"  (click)="cadastrar()">
    <input type="button" value="Alterar"    *ngIf="btnCadastro"  class="btn btn-warning"  (click)="editar()">
    <input type="button" value="Remover"    *ngIf="btnCadastro"  class="btn btn-danger">
    <input type="button" value="Cancelar"   *ngIf="btnCadastro"  class="btn btn-secondary">



</form>
<!-- teste de tela
<h1>{{user | json}}</h1>
-->

<table class="table" *ngIf="tabela">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Seguro Social</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let u of usuarios; index as i">
            <td></td>
            <td>{{u.nome}}</td>
            <td>{{u.email}}</td>
            <td>{{u.numSeguroSocial}}</td>
            <td><button class="btn btn-success" (click)="selecionarUsuario(i)">Selecionar</button></td>
        </tr>
    </tbody>

</table>
